h1,
h2,
h3 {
    font-family: $font-family-fallback;

    .fonts-loaded & {
        font-family: $font-family-heading;
    }
}

p {
    font-size: $font-size-normal;
    line-height: $line-height;
    .fonts-loaded & {
        font-family: $font-family-text;
    }
}
